<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302666516210-n6uolh7vbj4l45jedkqorij0qks2i88j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302666516210-n6uolh7vbj4l45jedkqorij0qks2i88j</string>
	<key>API_KEY</key>
	<string>AIzaSyDpTljdvArw8YaYjlqHCHtTW1-xCuUSWeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>302666516210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaschool.Story-Squad</string>
	<key>PROJECT_ID</key>
	<string>story-squad-f67eb</string>
	<key>STORAGE_BUCKET</key>
	<string>story-squad-f67eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302666516210:ios:f9d1e4be9ae023b68d726b</string>
	<key>DATABASE_URL</key>
	<string>https://story-squad-f67eb.firebaseio.com</string>
</dict>
</plist>